<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- add a back button-->
      Update Status Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Your latest status: {{myStatus}}</p>


  <ion-button [routerLink]="['/status-page']">UPDATE STATUS</ion-button>
  <!-- Import ionButton or whatever in home.page.ts
  set up router link to go to status page
  <h2>My status is {{myStatus}}</h2>>
-->
</ion-content>
